<a href="../home"><img class="sidebar__logo" src="assets/CZLogo.png"></a>
<ul class="sidebar">
  <li>
    <a routerLink="../home" class="sidebar__button">Home</a>
  </li>
  <li>
    <a routerLink="../category" class="sidebar__button">Category</a>
  </li>
  <li>
    <a routerLink="../favorites" class="sidebar__button">Favorites</a>
  </li>
  <li>
    <a routerLink="../create" class="sidebar__button">Create Event</a>
  </li>
  <div *ngIf="isManager">
    <li>
      <a routerLink="../deleteUser" class="sidebar__button">Create Category</a>
    </li>
    <li>
      <a routerLink="../createCategory" class="sidebar__button">Delete User</a>
    </li>
  </div>
</ul>
