<form>
  <img class="sidebar__logo" src="assets/login.webp">
<div>
  <label for="login">Login: </label>
  <input class="form-control"  id="login" [(ngModel)]="username" placeholder="email" name="df">
</div>
<div>
  <label for="password">Password: </label>
  <input class="form-control"  id="password" type="password" [(ngModel)]="password" placeholder="password" name="dsf">
  <!--    {{password}}-->
</div>
<button type="submit" (click)="loginUser()" class="btn btn-primary">Sign In</button>
</form>

<div class="signup">
  <h4 id="question">Don't have an account? </h4>
  <div id="signupButton">
    <button routerLink="../signup" class="btn btn-primary">Sign Up</button>
  </div>
</div>
