<html>
<head>
  <img class="sidebar__logo" src="assets/register.jpeg">
  <title>Registration Page</title>
  <link rel="stylesheet" href="register-page.component.css">
</head>
<body>
<form>
  <img id="jpg" src="assets/register.jpeg">
  <h2>Register</h2>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Register</button>
</form>
</body>
</html>
