<p>create-event works!</p>
<div>
  <label>Title: </label>
  <input class="form-control" [(ngModel)]="title" placeholder="Name">
</div>
<div>
  <label>Description: </label>
  <input class="form-control" [(ngModel)]="desc" placeholder="Description">
</div>

<div>
  <label>Information: </label>
  <input class="form-control" [(ngModel)]="info" placeholder="Information">
</div>
<div>
  <label>URL photo: </label>
  <input class="form-control" [(ngModel)]="photo" placeholder="Photo">
</div>

<div>
  <label>Category:</label>
  <select name="select" >
    <option *ngFor="let category of categories" [value]="category">{{ category.name }}</option>
  </select>
</div>

<button (click)="createEvent()">Submit</button>
